* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main-container {
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(211, 211, 211);
    padding: 20px 15px;
}

.divider {
    height: 1.2px;
    width: 100%;
    margin: 20px 0;
    background-color: black;
}